body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(img/body-bg.jpeg);
    background-size: cover;
    background-repeat: none;
    padding-top: 5%;
}

h1 {
    color: black;
}

ul {
    padding-top: 18%;
    padding-left: 40%;
 list-style: none;
 color: white;
 font-size: 8px;
}

li {
    margin-top: 5px;
    margin-bottom: 8px;
}

span {
    color: orange;
    margin-left: 5%;
}

.card {
    height: 250px;
    width: 380px;
    background-image: url(img/bg.png);
    background-size: contain;
    background-repeat: none;
   
}

.col-8.col-4 {
    
}